body {
    font-family: 'Arial', sans-serif;
}

.jumbotron {
    background-color: #f8f9fa; /* Cor de fundo personalizada */
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}